div {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  }

figure  {
 font-family: 'Abril Fatface', cursive;
 min-width: 800px;
  height: 280px;
   }

figcaption{
  margin-left: 200px;
  margin-right: auto;}

.firstline{
  font-size:30px;
  position: relative;
  bottom: 125px;
}

.secondline{
  font-size:60px;
  position: relative;
  bottom: 140px;
  }

img {
  width:100%;
}

main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #222;
  }

.bevezetes { 
  font-size: 18px;}

ul{
  list-style: square;
}

blockquote { 
  font-family: 'Abril Fatface', cursive;
  background: #4b4b4a;
  color: white;
  font-size: 45px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom:50px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  width: 105%;
  right: 7%;
  }

blockquote::before {
  content: '\201C';
  font-size: 150px;
  position: absolute;
  top: 0;
  margin-top: 0px;
  padding-top: 0px;
  left: 0px; 
}

h1 {
  text-transform: uppercase;
  font-size:23px;
  margin-bottom:50px;
   }

h3{
  margin-bottom:0px;
  margin-top:30px;
  
}

h4{
  font-family: 'Merriweather', serif;
  font-size:15px;
  margin-top:0px;
}

#alsovonal{
  padding:2px;
  background: #4b4b4a;
  margin-top: 50px;
  margin-bottom:50px;
  margin-left: 0px;
  margin-right: 0px;
}